body {
  font-family: consolas;
  margin: 0;
}

.game-screen {
  background-color: darkred;
  height: 100vh;
  width: 100vw;
}
.start-button {
  font-size: 45px;
  height: 80px;
  width: 400px;
  padding: 40px;
  border-radius: 30px;
  background-color: rgb(161, 37, 37);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 450px;
  text-align: center;
}
.play-screen {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: linear-gradient(180deg, rgb(114, 0, 0), rgb(241, 173, 173));
}
.start-button:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}
.game-score {
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
}

.points {
  font-weight: bold;
}

.hidden {
  display: none;
}
.deadpool {
  z-index: 100;
  position: fixed;
  width: 120px;
  height: 185px;
  background-image: url("../images/deadpool-default.png");
  background-size: cover;
}
.enemy {
  position: absolute;
  width: 155px;
  height: 185px;
  background-image: url("../images/wolverine.png");
  background-size: cover;
}

.fire {
  position: fixed;
  width: 115px;
  height: 185px;
  background-image: url("../images/shoot.png");
  background-size: cover;
}

.fire-ball {
  position: absolute;
  width: 120px;
  height: 45px;
  background-image: url("../images/fire-ball.png");
  background-size: cover;
}

.name {
  position: center;
  position: absolute;
  left: 42%;
  top: 650px;
  height: 60px;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  font-size: 22px;
}
.background-image-start-screen {
  display: block;
  margin: 0 auto;
}

.game-over {
  position: absolute;
  width: 50%;
  background-color: black;
  top: 400px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: white;
  font-size: 50px;
  padding: 50px;
}


.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.new-game {
  font-size: 30px;
  border-radius: 10px;  
}

.new-game:hover {
background-color: lightgreen; 
 
}

.new-level {
  position: absolute;
  width: 50%;
  background-color: black;
  top: 400px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: white;
  font-size: 50px;
  padding: 50px;
}

.new-enemy {
  position: absolute;
  width: 155px;
  height: 185px;
  background-image: url("../images/shoot.png");
  background-color: transparent;
  background-size: cover;
}